
.header{
    background-color: $color-base-1;
    height: 80px;

    &-nav{
        @include displayFlex();
        height: 100%;
        padding: 0 8%;
    }
    
.slack-logo{
    height: 25px;
    width: 100px;
}

.burger-menu{
    height: 20px;
    width: 18px;
}

}

